ul li {
display: inline-block;
margin: 0 ;
    font-size: 2.2rem;
}
ul li a {
text-decoration: none;
font-size: 2.0rem;
}
body h2{
    margin: 0 260;
    font-size: 1.7;
}
video{ 
    margin: 0 150;
}

.sec-1{
display: inline-block;
margin: 0 -5;
}

.gatomiau{
    display: inline-block;
    margin: 0 70;

}

.gatoflor {
margin: 0 240;
}

.Parrafo2 {
text-align: left;
margin: 0 -230;
font-size: 1;
}

.Dale {
    margin: 0 -40;
}

.Osito1 {
    width: 320;
    margin: 0 20;
}

.Dalesi {
    margin: 0 50;
}

.Texto{ 
    font-size: ;
    margin: 0 250;
}
