ul li {
display: inline-block;
margin: 0 10;
}
ul li a {
text-decoration: none;
font-size: 2.2rem;
}
body h2{
    margin: 0 260rem;
    font-size: 1.7rem;
}
video{ 
    margin: 0 150rem;
}

.sec-1{
display: inline-block;
margin: 0 -5rem;
}

.gatomiau{
    display: inline-block;
    margin: 0 70rem;

}

.gatoflor {
margin: 0 240rem;
}

.Parrafo2 {
text-align: left;
margin: 0 -230rem;
font-size: 1rem;
}

.Dale {
    margin: 0 -40rem;
}

.Osito1 {
    width: 320rem;
    margin: 0 20rem;
}

.Dalesi {
    margin: 0 50rem;
}

.Texto{ 
    font-size: 1.2rem;
    margin: 0 250rem;
}
